/config.php
/index.php
admin/config.php
admin/index.php
admin/view/stylesheet/bootstrap.css
!index.html
install.bak/
.idea/
download/
image/
system/config/
system/engine/
system/helper/
system/library/
system/storage/
system/.htaccess
system/framework.php
system/modification.xml
system/startup.php
# vQmod log files
vqmod/
/php.ini
/.htaccess